.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider li {
  position: relative; 
  width: 100%;
  height: 100%;
  display: none;
  top: 0; 
  left: 0; 
}