.arrow {
	position: absolute;
	width: 20px;
	height: 20px;
}

.arrow-up {
	width: 0px;
	height: 0px;
	margin-top: 3px;
	border-style: solid;
	border-width: 0 10px 15px 10px;
	border-color: transparent transparent #C90E0E transparent;
	z-index: 999999;
}

.arrow-down {
	width: 0px;
	height: 0px;
	margin-top: 3px;
	border-style: solid;
	border-width: 15px 10px 0 10px;
	border-color: #18CC0E transparent transparent transparent;
	z-index: 999998;
}

.stable {
	width: 15px;
	height: 15px;
	margin-top: 5px;
	margin: 3px;
	background-color: #0096fD;
}

div.arrow img {
	width: 100%;
	height: 100%;
}
